@model TezMektepKz.Models.Identity.Organization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h4>@localizer["OrganizationLabel"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@localizer["OrganizationName"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">@localizer["OrganizationNumber"]</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">@localizer["OrganizationAddress"]</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["CreateButton"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Identity/Account/Register">@localizer["BackButton"]</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
